<div *tdLoading="'calendarDetailHeaderShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">
    
        <mat-card>
            <td-message *ngIf="showErrorMessage" label="Error Getting Calendar" sublabel="{{errorMessage}}" color="warn" icon="error" class="error-message"></td-message>  
            
            <div *ngIf="!showErrorMessage">          
                <mat-card-title style="padding-bottom:16px">
                    <div style="display: flex; flex-direction:row">
                        
                        <div style="display: flex; flex-direction:column" flex>
                            <span>{{ calendarName }}</span>
                        </div>
        
                        <span flex></span>
                        <span>
                            <button mat-icon-button [mat-menu-trigger-for]="menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu x-position="before" #menu="matMenu">
                                <button mat-menu-item (click)="editCalendar()">
                                    <mat-icon>edit</mat-icon> Edit
                                </button>
                                <button mat-menu-item (click)="toggleActive()">
                                    <span *ngIf="isActive">
                                        <mat-icon>remove_circle_outline</mat-icon> Set Inactive
                                    </span>
                                    <span *ngIf="!isActive">
                                        <mat-icon>add_circle_outline</mat-icon> Set Active
                                    </span>
                                </button>
                            </mat-menu>
                        </span>
                    </div>
                </mat-card-title>
                
                <mat-divider></mat-divider>
         
                <mat-card-content>
                    <div class="mat-dialog-content form-container">
                        <mat-checkbox [(ngModel)]="isActive" disabled>Calendar is Active</mat-checkbox>            
                    </div>           
                </mat-card-content>
            </div>

        </mat-card>
    </div>