<h1 *ngIf="!isEdit" class="mat-dialog-title">Add Job</h1>
<h1 *ngIf="isEdit" class="mat-dialog-title">Edit Job</h1>

<div *tdLoading="'addJobShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">

    <form #addJobForm="ngForm">   
        <div class="mat-dialog-content form-container">

            <mat-form-field>
                <input matInput #jobNameControl="ngModel" placeholder="Job Name" type="text" name="jobName" [(ngModel)]="jobName" required>
                <mat-error align="start">
                    <span [hidden]="!jobNameControl.errors?.required || jobNameControl.pristine" class="tc-red-600">Job Name is Required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput #jobNumberControl="ngModel" placeholder="Job Number" type="text" name="jobNumber" [(ngModel)]="jobNumber">
            </mat-form-field>
        
            <div>
                <ac-multi-datepicker 
                    [viewDate]="viewDate" 
                    [(selectedDays)]="jobDays" 
                    (changeViewDateRequested)="onChangeViewDateRequested($event)">
                </ac-multi-datepicker>
                <mat-hint align="start">       
                    <span [hidden]="jobDays?.length > 0" class="tc-red-600">At least one day must be selected</span>                
                </mat-hint>

                <!-- <mat-form-field>
                    <input matInput #startDateControl="ngModel" placeholder="Start Date" name="startDate" [matDatepicker]="startPicker" [(ngModel)]="startDate" required>
                    <mat-error align="start">
                        <span [hidden]="!startDateControl.errors?.required || startDateControl.pristine" class="tc-red-600">Starte Date is Required</span>
                    </mat-error>
                    <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                    <mat-datepicker #startPicker></mat-datepicker>
                </mat-form-field>
            
                <mat-form-field>
                    <input matInput #endDateControl="ngModel" placeholder="End Date" name="endDate" [matDatepicker]="endPicker" [(ngModel)]="endDate">
                    <mat-hint align="start">       
                        <span [hidden]="endDateIsNotBeforeStartDate()" class="tc-red-600">The End Date Cannot Be Before the Start Date</span>                
                    </mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                    <mat-datepicker #endPicker></mat-datepicker>
                </mat-form-field> -->
            </div>

            <mat-form-field>
                <textarea matInput placeholder="Notes" matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="5" name="notes" [(ngModel)]="notes">
                </textarea>
            </mat-form-field>
        
            <div layout="column">
                <span>Selected Tags</span>
                <div layout="row">
                    <ac-tag *ngFor="let tag of selectedTags" [model]="tag"></ac-tag>
                </div>
                <button mat-button (click)="selectTags()">Select Tags</button>
            </div>
        </div>

        <div class="mat-dialog-actions">
            <span flex></span>
            <button mat-button 
                (click)="onCancelClick()">Cancel</button>
            
            <button mat-button 
                [disabled]="!addJobForm.form.valid || !endDateIsNotBeforeStartDate()" 
                (click)="onOkClick()">Ok</button>
        </div>
    </form>

</div>
