<div *ngIf="!calendarSelected" layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
    <mat-icon matListAvatar class="text-super push-bottom">today</mat-icon>
    <h2>No Calendar Selected</h2>
    <h3>Please Select a calendar to work in.  If none are available talk to your Organization Administrator to be added to one</h3>
</div>

<td-message *ngIf="(calendarStore.hasError | async) && calendarSelected" label="Error Getting Week of Data" [sublabel]="(calendarStore.errorMessage | async)" color="warn" icon="error" class="error-message"></td-message>

<div *ngIf="!(calendarStore.hasError | async) && calendarSelected">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

    <div class="week-grid" *ngIf="!showErrorMessage">
    
        <ac-week-cell 
            class="week-jobs"
            *ngFor="let dayView of weekData" 
            [dayView]="dayView"
            [isReadonly]='true'>         
        </ac-week-cell>
    
        <ac-job-list 
            *ngFor="let dayView of weekData" 
            [dayView]="dayView"
            [isPast]="dayView.calendarDay.isPast"
            [isReadonly]="true">
        </ac-job-list>
    </div>
</div>
