<h1 class="mat-dialog-title">Edit Time Off</h1>

<div *tdLoading="'addTimeOffShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">

    <form #addTimeOffForm="ngForm">

        <div class="mat-dialog-content form-container">
            
            <ac-multi-datepicker 
                [viewDate]="viewDate"
                [disableChangingMonth]="true" 
                [(selectedDays)]="timeOffDays">
            </ac-multi-datepicker>

        </div>  

        <div class="mat-dialog-actions">
            <span flex></span>
            <button mat-button 
                (click)="onCancelClick()">Cancel</button>
            
            <button mat-button 
                [disabled]="!addTimeOffForm.form.valid" 
                (click)="onOkClick()">Ok</button>
        </div>  

    </form>

</div>