<mat-toolbar>
    <span>Manage Worker</span>
</mat-toolbar>

<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
        <ac-worker-detail-header></ac-worker-detail-header> 
    </div>
</div>

<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    
    <div flex-gt-sm="50">
        <ac-worker-time-off></ac-worker-time-off> 
    </div>

    <div flex-gt-sm="50">
        <ac-worker-jobs></ac-worker-jobs> 
    </div>

</div> 
