<div *tdLoading="'workerDetailHeaderShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">
    <mat-card>
        <mat-card-title>
            <div style="display: flex; flex-direction:row">
                
                <div style="display: flex; flex-direction:column" flex>
                    <span>{{firstName}} {{lastName}}</span>
                    <div *ngIf="selectedTags?.length > 0">
                        <ac-tag *ngFor="let tag of selectedTags" class="material-icons md-18" style="vertical-align: middle" [model]="tag"></ac-tag>
                    </div>
                </div>

                <span flex></span>
                <span>
                    <button mat-icon-button [mat-menu-trigger-for]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu x-position="before" #menu="matMenu">
                        <button mat-menu-item (click)="editWorker()">
                            <mat-icon>edit</mat-icon> Edit
                        </button>
                        <button mat-menu-item (click)="deleteWorker()">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                        <button mat-menu-item (click)="addWorkerTags()">
                            <mat-icon>label_outline</mat-icon> Tags
                        </button>
                    </mat-menu>
                </span>
            </div>
        </mat-card-title>
        
        <mat-divider></mat-divider>

        <mat-card-content>
                <div class="mat-dialog-content form-container">

                    <mat-form-field>
                        <input matInput #emailControl="ngModel" placeholder="Email" type="text" name="email" [(ngModel)]="email" disabled email>    
                    </mat-form-field>

                    <mat-form-field *ngIf="phone">
                        <input matInput #phoneControl="ngModel" placeholder="Phone Number" type="text" name="phone" [(ngModel)]="phone" disabled phone>
                    </mat-form-field>
                </div>           
        </mat-card-content>
    </mat-card>
</div>