<div class="cal-card" 
    [class.is-past]="isPast"
    [class.accent]="isAccent"
    droppable (onDrop)="onDropped($event)"
    [dropScope]="calendarDay.date.toString()">

    <div class="cal-card-content">
        <div class="cal-card-header" style="padding-left: 0px">
            {{ headerText }}
        </div>
        <div class="worker-list-container">
            <ac-worker-card *ngFor="let worker of workers" [worker]="worker" [scope]="calendarDay.date.toString()" >
            </ac-worker-card>
        </div>
    </div>
</div>