<mat-select [(ngModel)]="tagFilter" [value]="tagFilter" [compareWith]="compareTags" (selectionChange)="selectionChanged()" placeholder= "Tag Filters" multiple>
    <mat-select-trigger>
        <div class="tag-filter-select-trigger-contents">
            <span class="mat-select-placeholder">Tag Filters</span>
            <div class="tag-filter-selected-tag-container">
                <ac-tag *ngFor="let tag of tagFilter" class="material-icons md-20" [model]="tag"></ac-tag>
            </div>                    
        </div>
    </mat-select-trigger>
    <mat-option *ngFor="let tag of availableTags" [value]="tag">
        <mat-icon [style.color]="tag.color" style="vertical-align: middle">{{ tag.icon }}</mat-icon>{{tag.description}}
    </mat-option>
</mat-select>