<mat-toolbar class="mat-toolbar mat-toolbar-single-row">
    <span flex>Manage Tags</span>
</mat-toolbar>

<mat-card class="push-bottom-xxl" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    
    <div *tdLoading="'showTagsLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">
    
        <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">

            <span *ngIf="!searchBox.searchVisible" class="push-left-sm">
                <span class="mat-title">Tags</span>
            </span>
            
            <td-search-box #searchBox backIcon="arrow_back" [(ngModel)]="currentFilter" class="push-right-sm" placeholder="Search here" (searchDebounce)="filterTags($event)" flex>
            </td-search-box>

        </div>

        <mat-divider></mat-divider>
        
        <div *ngIf="!hasTags" layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
            <mat-icon matListAvatar class="text-super push-bottom">label_outline</mat-icon>
            <h2>No tags</h2>
            <h3>You have not created any tags</h3>
            <button mat-raised-button color="accent" class="text-upper" (click)="addTag()">Create Tag</button>
        </div>

        <div *ngIf="hasTags && !hasFilteredTags"layout="column" layout-align="center center" class="tc-grey-500 mat-typography pad-lg">
            <mat-icon matListAvatar class="text-super push-bottom">label_outline</mat-icon>
            <h2>No tags</h2>
            <h3>There are no tags with your applied filters</h3>
            <button mat-raised-button color="accent" class="text-upper" (click)="removeFilter()">Remove Filters</button>
        </div>

        <mat-list *ngIf="hasFilteredTags" class="will-load">

            <mat-list-item>
                    <mat-icon matListAvatar>apps</mat-icon>

                    <h3 matLine>Description</h3>

                    <span flex></span>

                    <span hide-xs class="md-sort-header" flex="20" layout="row" layout-align="center center" class="pad-left mat-body-1 tc-grey-500">
                        <span flex></span>
                        <mat-select flex="60" [(ngModel)]="tagTypeSortKey" >
                            <mat-option *ngFor="let option of tagTypeOptions" [value]="option.value" (click)="filterByTagType()">
                                {{option.name}}
                            </mat-option>
                        </mat-select>
                    </span>

                    <span hide-xs>
                        <button mat-icon-button disabled>
                        </button>
                    </span>

            </mat-list-item>

            <mat-divider></mat-divider>

            <td-message *ngIf="showErrorMessage" label="Error Getting Tags" sublabel="{{errorMessage}}" color="warn" icon="error" class="error-message"></td-message>            

            <ng-template let-tag let-last="last" ngFor [ngForOf]="(filteredTags | async)">
                
                <mat-list-item>
                    
                    <mat-icon [style.color]="tag.color" matListAvatar>{{tag.icon}}</mat-icon>
                    
                    <h3 matLine>{{tag.description}}</h3>
                    
                    <span flex></span>
                    
                    <span hide-xs flex="10">
                      {{tag.tagTypeString}}
                    </span>
                    
                    <span>
                        <button mat-icon-button [mat-menu-trigger-for]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu x-position="before" #menu="matMenu">
                            <button mat-menu-item (click)="editTag(tag)">
                                <mat-icon>edit</mat-icon> Edit
                            </button>
                           
                            <button mat-menu-item (click)="deleteTag(tag.id)">
                                <mat-icon>delete</mat-icon> Delete
                            </button>
                        </mat-menu>
                    </span>
                
                </mat-list-item>
                
                <mat-divider *ngIf="!last" matInset></mat-divider>
            
            </ng-template>
        
        </mat-list>
    
    </div>

</mat-card>

<a mat-fab color="accent" matTooltip="Add new worker" matTooltipPosition="before" class="mat-fab-bottom-right z-3 fixed fab-pad"
    (click)="addTag()">
    <mat-icon>add</mat-icon>
</a>