<mat-select [disabled]="disabled" [(ngModel)]="tagFilter" [value]="tagFilter" [compareWith]="compareTags" (selectionChange)="selectionChanged()" [placeholder]="labelText ? labelText : placeholder" multiple>
    <mat-select-trigger>
        <div class="tag-filter-select-trigger-contents">
            <span *ngIf="labelText && labelText.length > 0">{{labelText}}</span>
            <span *ngIf="!labelText || labelText?.length == 0" class="mat-select-placeholder">{{placeholder}}</span>
            
            <div class="tag-filter-selected-tag-container">
                <ac-tag *ngFor="let tag of tagFilter" class="material-icons md-20" [model]="tag"></ac-tag>
            </div>                    
        </div>
    </mat-select-trigger>
    <mat-option *ngFor="let tag of availableTags" [value]="tag">
        <mat-icon [style.color]="tag.color" style="vertical-align: middle">{{ tag.icon }}</mat-icon>{{tag.description}}
    </mat-option>
</mat-select>