:host-context(.md-18) .material-icons {
    font-size: 18px;
}

:host-context(.md-24) .material-icons {
    font-size: 24px;
}

:host-context(.md-36) .material-icons {
    font-size: 36px;
}

:host-context(.md-48) .material-icons {
    font-size: 48px;
}