<h1 class="mat-dialog-title">{{isEdit ? 'Edit' : 'Add'}} User</h1>

<div *tdLoading="'addUserShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">

    <form #addUserForm="ngForm">   
        <div class="mat-dialog-content form-container">
           
            <h2 *ngIf="isEdit">
                {{ userName }}
            </h2>

            <mat-form-field *ngIf="!isEdit">
                <input matInput #nameControl="ngModel" placeholder="Username" type="text" maxlength="200" name="UserName" [(ngModel)]="userName" required>
                <mat-error align="start">
                    <span [hidden]="!nameControl.errors?.required || nameControl.pristine" class="tc-red-600">Username is Required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field *ngIf="!isEdit"> 
                <input matInput #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                <span md-prefix><mat-icon>lock</mat-icon></span>
                <mat-hint align="start">
                    <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
            </mat-form-field>

            <mat-form-field *ngIf="!isEdit"> 
                <input matInput #confirmControl="ngModel" placeholder="Confirm Password" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                <mat-hint align="start">
                    <span [hidden]="!confirmControl.errors?.required || confirmControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput #emailControl="ngModel" placeholder="Email" type="text" maxlength="200" name="email" [(ngModel)]="email" required email>
                <mat-error align="start">
                    <span [hidden]="!emailControl.errors?.email || emailControl.errors?.required" class="tc-red-600">Please Enter a Valid Email Address</span>
                    <span [hidden]="!emailControl.errors?.required || emailControl.pristine" class="tc-red-600">Email is Required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput #firstNameControl="ngModel" placeholder="First Name" type="text" maxlength="200" name="FirstName" [(ngModel)]="firstName" required>
                <mat-error align="start">
                    <span [hidden]="!firstNameControl.errors?.required || firstNameControl.pristine" class="tc-red-600">First Name is Required</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput #lastNameControl="ngModel" placeholder="Last Name" type="text" maxlength="200" name="LastName" [(ngModel)]="lastName" required>
                <mat-error align="start">
                    <span [hidden]="!lastNameControl.errors?.required || lastNameControl.pristine" class="tc-red-600">Last Name is Required</span>
                </mat-error>
            </mat-form-field>
            
            <mat-form-field> 
                <mat-select [(value)]="userRole" placeholder="Role">
                    <mat-option value="Readonly">Read Only</mat-option>
                    <mat-option value="User">User</mat-option>
                    <mat-option value="Organization Admin">Organization Administrator</mat-option>
                    <mat-option *ngIf="authService.isAdmin()" value="Admin">Site Administrator</mat-option>
                                        
                </mat-select>
            </mat-form-field> 

            <button *ngIf="isEdit" mat-button (click)="changePassword()"> Change Password </button>
        </div>

        <div class="mat-dialog-actions">
            <span flex></span>
            <button mat-button 
                (click)="onCancelClick()">Cancel</button>
            
            <button mat-button 
                [disabled]="!addUserForm.form.valid" 
                (click)="onOkClick()">Ok</button>
        </div>
    </form>
</div>
