<mat-toolbar layout-align="center">
    <span>Manage Organization</span>
</mat-toolbar>

<div *tdLoading="'organizationDetailShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">
    <mat-card>
        <mat-card-title>
            <div style="display: flex; flex-direction:row">
                <span>{{organization.name}}</span>
                <span flex></span>
            </div>
        </mat-card-title>
        <mat-divider></mat-divider>
    </mat-card>

    <mat-card>
        <mat-card-title>
            <div style="display: flex; flex-direction:row">
                <span>Users</span>
                <span flex></span>
                <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
            </div>
        </mat-card-title>
        
        <mat-divider></mat-divider>

        <mat-card-content>
                <mat-list class="will-load">

                        <td-message *ngIf="showErrorMessage" label="Error Getting Tags" sublabel="{{errorMessage}}" color="warn" icon="error" class="error-message"></td-message>
                        
                        <div class="md-padding" *ngIf="(userData)?.length === 0" layout="row" layout-align="center center">
                            <h3>No users to display.</h3>
                        </div>
            
                        <ng-template let-user let-last="last" ngFor [ngForOf]="userData">
                            <mat-list-item>
                                <mat-icon matListAvatar>person</mat-icon>
                                <h3 matLine>{{ user.userName }}</h3>
                                <p matLine>{{user.firstName}} {{user.lastName}}</p>
                                <span flex></span>
                                <span>
                                    <button mat-icon-button [mat-menu-trigger-for]="menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu x-position="before" #menu="matMenu">
                                        <button mat-menu-item [routerLink]="['/user', user.id]">
                                            <mat-icon>edit</mat-icon> Edit
                                        </button>
                                       
                                        <button mat-menu-item (click)="deleteUser(user.id)">
                                            <mat-icon>delete</mat-icon> Delete
                                        </button>
                                    </mat-menu>
                                </span>
                            </mat-list-item>
                                <mat-divider *ngIf="!last" matInset></mat-divider>
                        </ng-template>
                    </mat-list>
                    <div layout="row">
                        <span flex></span>
                        <a mat-fab color="accent" matTooltip="Add new User" matTooltipPosition="before" (click)="addUser()">
                            <mat-icon>add</mat-icon></a>
                    </div>
        </mat-card-content>

    </mat-card>
</div>