<div *ngIf="authorized;then application else login"></div>

<ng-template #login><login></login></ng-template>

<ng-template #application>
    <td-layout>
        <td-layout-nav>

            <!-- Main Toolbar -->
            <div td-toolbar-content layout="row" layout-align="start center" flex>
                <button mat-icon-button class="td-menu-button" (click)="toggleMenu()" mdTooltip="Main menu">
                    <mat-icon>menu</mat-icon>
                </button>
                <mat-icon class="mat-icon-logo"></mat-icon>
                <span>Ace Calendar</span>
                <span flex></span>
                <button mat-button [matMenuTriggerFor]="logoutMenu"><mat-icon>account_circle</mat-icon><span> {{loggedInUser}}</span></button>
                <mat-menu #logoutMenu="matMenu">
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Log Out</span>
                    </button>
                </mat-menu>               
            </div>       
            <td-layout-manage-list [opened]="menuOpen" mode="side">
                <!-- Side Nav -->
                <mat-nav-list td-sidenav-content>
                    <a mat-list-item routerLink="/calendar">
                        <mat-icon matListIcon>today</mat-icon>Calendar</a>
                    <a mat-list-item routerLink="/worker">
                        <mat-icon matListIcon>people</mat-icon>Workers</a>
                    <a mat-list-item routerLink="/job">
                        <mat-icon matListIcon>business</mat-icon>Jobs</a>
                </mat-nav-list>  
                
                <!-- View Outlet -->
                <router-outlet></router-outlet>
            </td-layout-manage-list>
        </td-layout-nav>
        <td-layout-footer>
            <div layout="row" layout-align="start center">
                <span class="mat-caption">Copyright &copy; 2017 501 Software. All rights reserved</span>
            </div>
        </td-layout-footer>
    </td-layout>
</ng-template>