
<div class='wrapper'>

    <div class='main-header'>
        <div class='navbar navbar-inverse'>
            <div class='navbar-header'>
                <a class='navbar-brand' [routerLink]="['/home']">AceCalendar</a>
            </div>
        </div>
    </div>

    <div class='main-nav'>
        <ul class='nav-content navbar-inverse'>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/home']">
                    <span class='glyphicon glyphicon-globe'></span> Home
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/calendar']">
                    <span class='glyphicon glyphicon-user'></span> People
                </a>
            </li>
            <li [routerLinkActive]="['link-active']">
                <a [routerLink]="['/calendar']">
                    <span class='glyphicon glyphicon-calendar'></span> Calendar
                </a>
            </li>
        </ul>
    </div>
        
    <div class='main-content'>
        <div class="calendar-wrapper">
            <div class="calendar-header">December</div>
            <div class="week-header">Sunday</div>
            <div class="week-header">Monday</div>
            <div class="week-header">Tuesday</div>
            <div class="week-header">Wednesday</div>
            <div class="week-header">Thursday</div>
            <div class="week-header">Friday</div>
            <div class="week-header">Saturday</div>
        </div>
    </div>

</div>