@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
// @import '~@covalent/markdown/markdown-theme';
// @import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
  $font-family: 'Roboto, Helvetica Neue, sans-serif'
);

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-deep-orange);

$warn:    mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);
