@import '~@angular/material/theming';
@import './ace-calendar-theme';

/* Draggable*/

.drag-border {
    border: mat-color($primary) dashed 2px;
    background-color: mat-color($primary);
}

.drag-handle {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag-handle:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Droppable */

// .drag-hint-border {
//     border: mat-color($mat-light-blue, 500 ) dashed 2px;
// }

.drag-over-border {
    border: mat-color($mat-green, 500) dashed 2px;
}

// .drag-transit {
//     border: mat-color($primary) dashed 2px;
// }

.filtered {
    display: none !important;
}

.fixed {
    position: sticky;
    top: 0;
    z-index: 999;
}

.label-and-value{
    display: flex;
    flex-direction: row;

    .label{
        font-weight: 600;
        font-size: 14px;
    }
    .value{
        margin-left: 4px;
    }
}

.mat-input-element:disabled {
    color: rgba(0, 0, 0, 0.70) !important;
}

.mat-card-title {
    overflow: hidden;
}
