@import '~@angular/material/theming';
@import '../../../../ace-calendar-theme';

.week-cell-job-header-text {
    font-size: 12px;
    font-weight: 700;
    color: mat-color($primary, 800);
}

.week-cell-job-header{
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    margin-top: 8px;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0, .25)
}



.week-cell-job-tags{
    display: flex;
    flex-direction: row;
    //margin-bottom: -4px;
    padding-bottom: 4px;
    //margin-bottom: 8px;
    // border-bottom: 1px;
    // border-bottom-style: solid;
    // border-bottom-color: rgba(0,0,0, .25);
    
    .material-icons{
        font-size: 18px;
    }
}

.job-card{
    background: rgba(0,0,0,.20);    
    flex-direction: row;
    padding: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.week-cell-job-workers{
    min-height: 36px;
    display: flex;
    flex-direction: column;
}

.week-cell-job-noworkers{
    color: mat-color($warn);
}

.week-cell-job-button-container{
    margin-top: -10px;
    margin-right: -10px;
}