<mat-toolbar layout-align="center">
    
    <button mat-icon-button (click)="viewDateBack()">
        <mat-icon>chevron_left</mat-icon>
    </button>
    
    <span>Week of {{ startOfWeek | date: 'fullDate'}}</span>
    
    <button mat-icon-button (click)="viewDateForward()">
        <mat-icon>chevron_right</mat-icon>
    </button>

    <div style="position: absolute; right: 0; margin-right: 30px;margin-top:8px; font-size: 14px"> 
        <mat-form-field> 
            <mat-select [(ngModel)]="workerAddOption" placeholder="Add Workers to" [compareWith]="addWorkerOptionCompare" (selectionChange)="addWorkerOptionChange($event)">
                <mat-option value=0>Single Day</mat-option>
                <mat-option value=1>All Days this week</mat-option>
                <mat-option value=2>All Days this week when available</mat-option>
            </mat-select>
        </mat-form-field>           
    </div>

</mat-toolbar>

<td-message *ngIf="showErrorMessage" label="Error Getting Week of Data" sublabel="{{errorMessage}}" color="warn" icon="error" class="error-message"></td-message>

<div *tdLoading="'showWeekViewLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">

    <div class="week-grid" *ngIf="!showErrorMessage">

        <ac-week-cell 
            class="week-jobs"
            *ngFor="let dayView of weekData" 
            [dayView]="dayView"
            (copyDayRequested)="onCopyDayRequested($event)"
            (deleteJobsFromDayRequest)="onDeleteJobsFromDayRequested($event)">         
        </ac-week-cell>

        <ac-job-list 
            *ngFor="let dayView of weekData" 
            [dayView]="dayView"
            [isPast]="dayView.calendarDay.isPast"
            (workerAddedToJob)="onWorkerAddedJob($event)"
            (addToTimeOffRequested)="onWorkerAddedOff($event)"    
            (addToAvailableRequested)="onWorkerAddedAvailable($event)"                                       
            (deleteJobRequested)="onDeleteJobRequested($event)"
            (editJobRequested)="onEditJobRequested($event)"
            (dayJobTagRequested)="onDayJobTagRequested($event)">
        </ac-job-list>

        <ac-worker-list
            *ngFor="let dayView of weekData"
            [workers]="dayView.availableWorkers"
            [jobs]="dayView.jobs"
            [calendarDay]="dayView.calendarDay"
            [isPast]="dayView.calendarDay.isPast"
            [headerText]="'Available Workers'"
            [showMoveToTimeOff]="true"         
            (addToTimeOffRequested)="onWorkerAddedOff($event)"      
            (addToJobRequested)="onWorkerAddedJob($event)"
            (workerAdded)="onWorkerAddedAvailable($event)">
        </ac-worker-list>
            
        <ac-worker-list
            *ngFor="let dayView of weekData"
            [workers]="dayView.timeOffWorkers"
            [jobs]="dayView.jobs"
            [calendarDay]="dayView.calendarDay"
            [isPast]="dayView.calendarDay.isPast"
            [isAccent]="true"
            [headerText]="'Time Off'"
            [showMoveToAvailable]="true"
            (addToAvailableRequested)="onWorkerAddedAvailable($event)" 
            (addToJobRequested)="onWorkerAddedJob($event)"
            (workerAdded)="onWorkerAddedOff($event)">
        </ac-worker-list>
        
    </div>
</div>