@import '~@angular/material/theming';
@import '../../../../ace-calendar-theme';

.week-grid {
    display: grid;
    margin: 8px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 8px;
    grid-column-gap: 8px;
}

.week-jobs{
    display: subgrid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
}

