.week-cell-day{
    font-size: 14px;
    line-height: 24px;
    margin-left: 16px;
    color: rgba(0,0,0,.64);
}

.week-cell-day-header{
    font-size: 36px;
    font-weight: 600;
    line-height: 40px;
    margin-left: 16px;
}

.week-cell-h{
    line-height: 21px;
    font-weight: 400px;
    margin: 0px;
}