.organization-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.label-and-value{
    display: flex;
    flex-direction: row;

    .label{
        font-weight: 600;
        font-size: 14px;
        align-self: end;
    }
    .value{
        align-self: start;
    }
}