<mat-toolbar>
    <span>Manage Organization</span>
</mat-toolbar>

<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
        <ac-organization-detail-header></ac-organization-detail-header> 
    </div>
</div>

<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    
    <div flex-gt-sm="50">
        <ac-organization-subscription></ac-organization-subscription>
    </div>

    <div flex-gt-sm="50">    
        <ac-default-paymentsource></ac-default-paymentsource>
    </div>
    
</div> 
    
<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
    
    <div *ngIf="authService.isAdmin()" flex-gt-sm="50">
        <ac-organization-users></ac-organization-users>
    </div>

</div> 