<!-- <div style="position: absolute; right: 0; margin-right: 30px;margin-top:4px; font-size: 14px; z-index: 9999;">
    <button mat-icon-button color="primary" matTooltip="Filter Calendar" (click)="showFilter()">
        <mat-icon>filter_list</mat-icon>
    </button>
    <button *ngIf="filterEnabled" mat-raised-button color="accent" (click)="clearFilter()">
        Clear Filter
    </button>
</div> -->
<div>

    <div style="position: sticky; top: 0; z-index: 999;">
        <ac-calendar-toolbar></ac-calendar-toolbar>
    </div>

    <div>
        <ac-month-view *ngIf="selectedIndex == 0" [viewDate]="viewDate" (changeViewDate)="onChangeViewDate($event)" (changeSelectedView)="onChangeSelectedView($event)">
        </ac-month-view>
        
        <ac-week-view *ngIf="selectedIndex == 1" [viewDate]="viewDate" (changeViewDate)="onChangeViewDate($event)">
        </ac-week-view>
    </div>

</div>


