@import '~@angular/material/theming';
@import '../../../../ace-calendar-theme';

%mat-card-section-base {
    margin-bottom: 16px;
}

%mat-card-title-base{
    padding-left: 16px;
    padding-right: 16px;
}

%cal-card-divider-base{
    margin:0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,.12)
}

.cal-card{
    display: flex;
    flex-direction: column;
    background: white;
    height: 100%;
    @include mat-elevation-transition;
    @include mat-overridable-elevation(2);
    @include cdk-high-contrast {
        outline: solid 1px;
      }
}

.cal-card.is-past{
    background: mat-color($primary, 200)
}

.cal-card.accent{
    background: mat-color($accent, 300)
}

.cal-card-title, .cal-card-subtitle{
    @extend %mat-card-section-base; 
    @extend %mat-card-title-base;
}

.cal-card-title{
    padding-top: 16px;
    font-size: 32px;
    font-weight: 700;
}

.cal-card-subtitle{
    margin-top: -4px;
    font-size: 14px;
    color: rgba(0,0,0,.54);
}

.cal-card-content{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 8px;
    font-size: 14px;
}

.cal-card-header{
    color: mat-color($primary,800);
    display: flex;
    font-weight: 700;
    font-size: 14px;
    padding-left: 8px;

    button {
        margin-top: -10px;
    }
}

.cal-card-header:not(:nth-of-type(1))
{
    padding-top: 8px;
}

.cal-card-divider{
    @extend %cal-card-divider-base;
}

.cal-card-header-divider{
    @extend %cal-card-divider-base;
    margin-bottom: 8px;
}