<mat-toolbar layout-align="center">
    
    <button mat-icon-button (click)="viewDateBack()">
        <mat-icon>chevron_left</mat-icon>
    </button>
        
    <span>{{viewDate | date: 'MMMM'}}</span>
    
    <button mat-icon-button (click)="viewDateForward()">
        <mat-icon>chevron_right</mat-icon>
    </button>

    <div style="position: absolute; right: 0; margin-right: 30px">            
        <button mat-icon-button (click)="showDisplayOptions()" matTooltip="Display Options">
            <mat-icon>settings</mat-icon>
        </button>
    </div>
</mat-toolbar>

<div *tdLoading="'showMonthViewLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">
    <td-message *ngIf="showErrorMessage" label="Error Getting Month of Data" sublabel="{{errorMessage}}" color="warn" icon="error" class="error-message"></td-message>
    
    <div class="month-grid" *ngIf="!showErrorMessage">
        
        <div class="cal-card" *ngFor="let dayHeader of header">
            <div class="month-dayofweek">
                {{dayHeader.date | date:'EEEE'}}
            </div>
        </div>

        <ac-month-cell *ngFor="let dayView of (calendarStore.monthData | async)" 
            [dayView]="dayView" 
            (changeView)="onChangeView($event)">
        </ac-month-cell>
    </div>
</div>
