<ng-template tdLoading [tdLoadingUntil]="!dataLoading" tdLoadingStrategy="overlay" ; tdLoadingType="circle" ; tdLoadingColor="accent">
    <div class="month-wrapper">
        <div class="month-header">
            {{viewDate | date: 'MMMM'}}
        </div>

        <div class="week-day-header" *ngFor="let dayHeader of header">
            {{dayHeader.date | date:'EEEE'}}
        </div>

        <ac-month-cell *ngFor="let dayView$ of monthView" [dayView$]="dayView$">
        </ac-month-cell>
    </div>
</ng-template>