@import '~@angular/material/theming';
@import '../../../../ace-calendar-theme';
@import './month-view.component';


%month-item-base {
    background-color: mat-color($primary, 200);
}

%month-item-hover-base{
    background-color: mat-color($primary, 500);
}

.month-menu-item {
    @extend %month-item-base;
}

.month-menu-item:hover {
    @extend %month-item-hover-base;
}

.cal-card.month-cell {
    min-width: 100px;
    min-height: 100px;

    .month-dayofmonth{
        @extend %month-day-title-base;
        font-size: 16px;
        padding-right: 8px;
        display: flex;
        justify-content: flex-end;
        color: mat-color($primary, 800);
    }

    .month-cell-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .month-cell-item{
        @extend %month-item-base;
        padding: 4px;
        margin: 4px;
        border-radius: 8px;
        text-align: center;
    }

    .month-cell-item:hover{
        @extend %month-item-hover-base;
    }

    .month-cell-item.highlight{
        background-color: mat-color($accent, 400);
    }

    .month-cell-item.highlight:hover{
        background-color: mat-color($accent, 700);
    }

    a {
        color: rgb(0,0,0);
    }
}

.month-cell.out-month{
    background-color: mat-color($primary,800);
    
    .month-dayofmonth{
        font-size: 12px;
        color: white;
    }
}

.cell-badge{
    color: #ffffff;
    
    background-color: mat-color($accent, 700);
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}