<div class="cal-card month-cell" 
    [class.is-past] = "dayView.calendarDay.inMonth && dayView.calendarDay.isPast"
    [class.out-month]="!dayView.calendarDay.inMonth"
    [class.is-today]="dayView.calendarDay.isToday">

    <div class="month-dayofmonth">
        {{ dayView.calendarDay.date | date:'d' }}
    </div>
    
        <div class="month-job-details">
            <span *ngFor="let job of dayView.jobs" [matTooltip]="job.display">{{job.name}}</span>
        </div>

        <div layout="row" *ngIf="dayView.calendarDay.inMonth" style="justify-content: space-between">

            <button mat-icon-button color='primary' [matTooltip]="getAvailableTooltip()" matTooltipPosition='right'>
                <mat-icon *ngIf="dayView.availableWorkers.length == 0">people</mat-icon>
                <td-notification-count *ngIf="dayView.availableWorkers.length > 0" color="accent" positionX="after" positionY="top" [notifications]="dayView.availableWorkers.length">
                    <mat-icon>people</mat-icon>
                </td-notification-count>
            </button>
    
            <button mat-icon-button color='primary' [matTooltip]="getOffTooltip()" matTooltipPosition='right' >
                <mat-icon *ngIf="dayView.timeOffWorkers.length == 0">perm_contact_calendar</mat-icon>
                <td-notification-count *ngIf="dayView.timeOffWorkers.length > 0" color="accent" positionX="after" positionY="top" [notifications]="dayView.timeOffWorkers.length">
                    <mat-icon>perm_contact_calendar</mat-icon>
                </td-notification-count>
            </button>

            <button mat-icon-button color='primary' (click)="goToWeekView(dayView.calendarDay.date)" matTooltip="Go to Week View" matTooltipPosition='before'>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
