.month-cell{
    min-width: 100px;
    min-height: 100px;
    border-bottom: 1px solid #464646
}

ac-month-cell:nth-child(1n+1) .month-cell
{
    border-left: 1px solid #464646;
}

ac-month-cell:nth-child(7n+1) .month-cell
{
    border-right: 1px solid #464646;
}

.month-cell-top{
    display: flex;
    justify-content: space-between;
}

.month-cell.cal-out-month{
    background-color:#bac5ce
}

.month-cell.cal-in-month{
    background-color: #ffffff;
}

.month-cell.cal-today {
    background-color: #a7ffad;
}

.month-cell:hover{
    background-color: #ededed
}

.month-cell-content{
    display: flex;
    flex-direction: column;
}

.month-cell-job{
    background-color: blue;
    padding: 3px;
    border-radius: 3px;
}