<div class="cal-card month-cell" 
    [class.is-past] = "dayView.calendarDay.inMonth && dayView.calendarDay.isPast"
    [class.out-month]="!dayView.calendarDay.inMonth"
    [class.is-today]="dayView.calendarDay.isToday">

    <div class="month-dayofmonth">
        {{ dayView.calendarDay.date | date:'d' }}
    </div>
    
        <div class="month-job-details">
            <div *ngIf="showAllJobs && dayView.calendarDay.inMonth" class="cal-card month-card">
                <div class="cal-card-header" style="margin-top: 4px">Jobs - {{dayView.jobs.length}}</div>
                <div class="cal-card-content">
                    <div *ngFor="let job of dayView.jobs">
                        <strong>{{job.getDisplayString()}}</strong>
                        <div style="margin-left: 16px" *ngFor="let worker of job.workers">
                            {{worker.firstName}} {{worker.lastName}}
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="showAvailableWorkers && dayView.calendarDay.inMonth" class="cal-card month-card">
                <div class="cal-card-header" style="margin-top: 4px">Available - {{dayView.availableWorkers.length}}</div>
                <div class="cal-card-content">
                    <span *ngFor="let worker of dayView.availableWorkers">{{ worker.firstName }} {{ worker.lastName }}</span>
                </div>
            </div>

            <div *ngIf="showOffWorkers && dayView.calendarDay.inMonth" class="cal-card month-card">
                <div class="cal-card-header" style="margin-top: 4px">Time Off - {{dayView.timeOffWorkers.length}}</div>
                <div class="cal-card-content">
                    <span *ngFor="let worker of dayView.timeOffWorkers">{{ worker.firstName }} {{ worker.lastName }}</span>
                </div>
            </div>
        </div>

        <div layout="row" *ngIf="dayView.calendarDay.inMonth">

            <button *ngIf="!showAllJobs" mat-icon-button color='primary' [matTooltip]="getJobsTooltip()" matTooltipPosition='right' [matMenuTriggerFor]="jobsMenu">
                <mat-icon *ngIf="dayView.jobs.length == 0">business</mat-icon>
                <td-notification-count *ngIf="dayView.jobs.length > 0" color="accent" positionX="after" positionY="top" [notifications]="dayView.jobs.length">
                    <mat-icon>business</mat-icon>
                </td-notification-count>
            </button>

            <button *ngIf="!showAvailableWorkers" mat-icon-button color='primary' [matTooltip]="getAvailableTooltip()" matTooltipPosition='right' [matMenuTriggerFor]="availableMenu">
                <mat-icon *ngIf="dayView.availableWorkers.length == 0">people</mat-icon>
                <td-notification-count *ngIf="dayView.availableWorkers.length > 0" color="accent" positionX="after" positionY="top" [notifications]="dayView.availableWorkers.length">
                    <mat-icon>people</mat-icon>
                </td-notification-count>
            </button>   

            <button *ngIf="!showOffWorkers" mat-icon-button color='primary' [matTooltip]="getOffTooltip()" matTooltipPosition='right' [matMenuTriggerFor]="offMenu">
                <mat-icon *ngIf="dayView.timeOffWorkers.length == 0">perm_contact_calendar</mat-icon>
                <td-notification-count *ngIf="dayView.timeOffWorkers.length > 0" color="warn" positionX="after" positionY="top" [notifications]="dayView.timeOffWorkers.length">
                    <mat-icon>perm_contact_calendar</mat-icon>
                </td-notification-count>
            </button>

            <span flex></span>
            
            <button mat-icon-button color='primary' matTooltipPosition='before' [matMenuTriggerFor]="detailsMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>

    <mat-menu #availableMenu='matMenu' xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item *ngIf="dayView.availableWorkers.length === 0">None</button>              
        <button mat-menu-item *ngFor="let worker of dayView.availableWorkers" (click)="showDayDetails()">{{worker.firstName}} {{worker.lastName}}</button>
    </mat-menu>

    <mat-menu #offMenu='matMenu' xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item *ngIf="dayView.timeOffWorkers.length === 0">None</button>        
        <button mat-menu-item *ngFor="let worker of dayView.timeOffWorkers" (click)="showDayDetails()">{{worker.firstName}} {{worker.lastName}}</button>
    </mat-menu>

    <mat-menu #jobsMenu='matMenu' xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item *ngIf="dayView.jobs.length === 0">None</button>               
        <button mat-menu-item *ngFor="let job of dayView.jobs" (click)="showDayDetails()">{{job.getDisplayString()}}</button>
    </mat-menu>

    <mat-menu #detailsMenu='matMenu' xPosition="after" yPosition="below" [overlapTrigger]="false">
        <button mat-menu-item (click)="showDayDetails()">
            <mat-icon>edit</mat-icon> Details
        </button>
        <button mat-menu-item (click)="goToWeekView()">
            <mat-icon>today</mat-icon> Week View
        </button>
    </mat-menu>