<div layout="row">
    <div class="day-title">{{dayView.calendarDay.date | date: 'EEEE'}}</div>
    <div class="day-subtitle">{{dayView.calendarDay.date | date: 'MM/dd/yyyy'}}</div>
</div>
<div class="day-content" >
    <div class='day-header'>Time Off</div>
    <div class='day-header'>Available Workers</div>
    <div class='day-header'>Jobs</div>

    <ac-worker-list 
        [workers]="dayView.timeOffWorkers" 
        [calendarDay]="dayView.calendarDay"
        [isPast]="true"
        (workerAdded)="onWorkerAddedOff($event)">
    </ac-worker-list>

    <ac-worker-list 
        [workers]="dayView.availableWorkers"
        [calendarDay]="dayView.calendarDay"
        [isPast]="true"
        (workerAdded)="onWorkerAddedAvailable($event)">
    </ac-worker-list>

    <div style="overflow:scroll; max-height:400px;">
        <ac-job-list 
            [dayView]="dayView" 
            [allowAdd]="false"
            [showHeader]="false" 
            [isPast]="true" 
            (workerAddedToJob)="onWorkerAddedJob($event)">
        </ac-job-list>
    </div>
</div>
<div class="mat-dialog-actions">
    <span flex></span>
    <button mat-button (click)="onCloseClick()">
        Close
    </button>
</div>