<div layout="column" layout-fill>
    <div class="md-content" layout-padding flex>
        <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
        <div flex-gt-xs="100">
            <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
            <mat-card-title>Change Password</mat-card-title>
            <mat-divider></mat-divider>
            <div *tdLoading="'showLoadingChangePassword'; mode:'indeterminate'; type:'linear'; strategy:'overlay'; color:'accent';">
                <form #loginForm="ngForm">            
                    <mat-card-content>
                        <td-message *ngIf="showErrorMessage" label="Error Changing Password" [sublabel]="errorMessage" color="warn" icon="error" class="error-message"></td-message>                
                        <td-message *ngIf="showSuccessMessage" label="Success" sublabel="Password has been successfully changed" color="light-green"></td-message>                
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                            <span md-prefix><mat-icon>person</mat-icon></span>
                            <mat-hint align="start">
                                <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #passElement #passControl="ngModel" placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
                            <span md-prefix><mat-icon>lock</mat-icon></span>
                            <mat-hint align="start">
                                <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #passElement #newPassControl="ngModel" placeholder="New Password" type="password" name="password" [(ngModel)]="newPassword" required>
                            <span md-prefix><mat-icon>lock</mat-icon></span>
                            <mat-hint align="start">
                                <span [hidden]="!newPassControl.errors?.required || newPassControl.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #passElement #confirmPass="ngModel" placeholder="Confirm Password" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                            <span md-prefix><mat-icon>lock</mat-icon></span>
                            <mat-hint align="start">
                                <span [hidden]="!confirmPass.errors?.required || confirmPass.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions layout="row">
                        <button flex mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="changePassword()">Change</button>
                        <button flex mat-raised-button (click)="cancelClick()">Cancel</button>
                    </mat-card-actions>
                </form>   
            </div>    
            </mat-card>
        </div>
        </div>    
    </div>
</div>