<h1 class="mat-dialog-title">Forgot Password</h1>

<div *tdLoading="'forgotPasswordShowLoading'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent';">

    <form #forgotPasswordForm="ngForm">   
        <div  class="mat-dialog-content form-container">     

            <td-message *ngIf="showErrorMessage" label="Error Changing Password" [sublabel]="errorMessage" color="warn" icon="error" class="error-message"></td-message>                
            <td-message *ngIf="showSuccessMessage" label="Success" sublabel="Password Reset email has been sent.  Please follow the instructions in the email to reset your password" color="light-green"></td-message>                

            <div *ngIf='!showSuccessmessage' layout="row">
                <mat-form-field flex> 
                <input matInput #userElement #userControl="ngModel" placeholder="Username" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                <span md-prefix><mat-icon>person</mat-icon></span>
                <mat-hint align="start">
                    <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                </mat-hint>
                </mat-form-field>
            </div>

            <mat-form-field *ngIf='!showSuccessmessage'>
                <input matInput #emailControl="ngModel" placeholder="Email" type="text" maxlength="200" name="email" [(ngModel)]="email" required email>
                <mat-error align="start">
                    <span [hidden]="!emailControl.errors?.email || emailControl.errors?.required" class="tc-red-600">Please Enter a Valid Email Address</span>
                    <span [hidden]="!emailControl.errors?.required || emailControl.pristine" class="tc-red-600">Email is Required</span>
                </mat-error>
            </mat-form-field>
           
        </div>

        <div class="mat-dialog-actions">
            <span flex></span>
            <button mat-button 
                (click)="onCancelClick()">Cancel</button>
            
            <button mat-button 
                [disabled]="!forgotPasswordForm.form.valid" 
                (click)="onOkClick()">Reset Password</button>
        </div>
    </form>
</div>
