<div layout="column" layout-fill>
    <mat-toolbar color="primary" class="md-whiteframe-z1">
        <img src="assets/Ace_Logo.png"/>
    </mat-toolbar>
    <div class="md-content" layout-padding flex>
        <div layout-gt-xs="row" layout-align-gt-xs="center start" class="margin">
        <div flex-gt-xs="50">
            <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push-top-lg']">
            <mat-card-title> Login</mat-card-title>
            <mat-divider></mat-divider>
            <div *tdLoading="'showLoading'; mode:'indeterminate'; type:'linear'; strategy:'overlay'; color:'accent';">
                <form #loginForm="ngForm">            
                    <mat-card-content>
                        <td-message *ngIf="showErrorMessage" label="Error Logging In" sublabel="Please Check Your Credentials and Try Again" color="warn" icon="error" class="error-message"></td-message>                
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #userElement #userControl="ngModel" type="text" maxlength="30" name="username" [(ngModel)]="username" required>
                            <mat-placeholder><mat-icon>person</mat-icon> Username</mat-placeholder>
                            <mat-hint align="start">
                                <span [hidden]="!userControl.errors?.required || userControl.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                        <div layout="row">
                            <mat-form-field flex> 
                            <input matInput #passElement #passControl="ngModel" type="password" name="password" [(ngModel)]="password" required>
                            <mat-placeholder><mat-icon>lock</mat-icon> Password</mat-placeholder>
                            <mat-hint align="start">
                                <span [hidden]="!passControl.errors?.required || passControl.pristine" class="tc-red-600">Required</span>
                            </mat-hint>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions layout="row" style="display: flex">
                        
                        <button mat-raised-button color="accent" [disabled]="!loginForm.form.valid" (click)="login()">Sign In</button>
                        <span flex></span>
                        <button mat-raised-button (click)="forgotPassword()">Forgot Password</button>
                    </mat-card-actions>
                </form>   
            </div>    
            </mat-card>
        </div>
        </div>    
    </div>
</div>